name: Markdown lint

on:
  push:
    branches: [ main ]
  pull_request:
    types: [assigned, opened, synchronize, reopened]

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: 'restqa-404-links'
      uses: restqa/404-links@2dddde704a1633e9a55ad78d36a0149de9c89d5a # 3.1.6
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
